WCF/WCF/Connected Services/ServiceReferenceCustomer/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53922/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetAllCustomer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllCustomerResult" nillable="true" type="q1:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="customer" nillable="true" type="q2:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SearchCustomerResult" nillable="true" type="q3:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>